@import "settings";
// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
  "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility",
  "foundation/components/grid";

@import 
// Vendor
  "vendor/slick",

// Elements
  "elements/mixins",
  "elements/typography",

// Components
  "components/layout",
  "components/excerpt",
  "components/footer",
  "components/header",

// Pages 
  "pages/home",
  "pages/single",
  "pages/author",
  "pages/keywords",
  "pages/news",
  "pages/contributors",
  "pages/categories";

a {
  color: $jet;
  text-decoration: none;
}

sup {
  @include footnote;
  line-height: 0;
}

blockquote {
  cite {
    font-style: normal;
    &:before {
      content: "";
    }
  }
}

figure {
  margin: 0 0 baseline();
}

figcaption {
  @include footnote;
  margin-top: baseline(0.5);
}

.line-separator {
  border-color: black;
  width: 100%;
  left: 0;
  position: absolute;
}