.pre-title {
  @include medium-title;
  @include uppercase;
  text-align: center;
  margin-bottom: baseline(0.5);
}

.archive-title {
  @include huge-title;
  @include uppercase;
  text-align: center;  
}

.archive-header + .post-list,
.archive-header + .post-grid, {
  margin-top: baseline();
}

.taxonomy-description {
  text-align: center;
  font-style: italic;
  max-width: 40em;
  margin: 0 auto baseline();
}

body.category {
  .entry-category {
    display: none;
  }
  .entry-title {
    margin-top: baseline(0.5);
  }
}