.page-template-page-templatescontributors-php {
  .post-list {
    -webkit-columns: 3 300px;
       -moz-columns: 3 300px;
            columns: 3 300px;
  }

  .contributor {
    margin-bottom: baseline(0.5);
  }
}

