// Featured excerpt on home page
.home {
  .excerpt-featured {
    .tb {
      height: baseline(8);
    }

    .entry-category {
      padding-top: baseline(0.5);
    }

    .entry-title {
      text-transform: uppercase;
    }

    .entry-sub-title {
      display: none;
    }

    .entry-meta {
      margin: baseline(0.5) 0 baseline();
    }

    @media #{$medium-up} {
      @include grid-column(12);
      margin-bottom: baseline();

      .entry-header {     
        height: baseline(20);
        position: relative;

        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        color: white;

        a {
          color: white;
        }
      }

      .tb {    
        height: baseline(20);
        position: absolute;
        z-index: -1;
      }

      .entry-category {
        padding-top: baseline(6);
        @include medium-title;
        @include uppercase;
      }

      .entry-title {
        @include huge-title;
        @include uppercase;
        margin-bottom: baseline(0.5);
      }

      .entry-sub-title {
        display: block;
        @include medium-title;
      }

      .entry-summary {
        max-width: 40em;
        margin: baseline() auto;
      }

      .entry-meta {
        @include medium-title;
        @include uppercase;

        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}