.alphabetical-separator {
  @include grid-column(12);
  margin-top: baseline(2);
  
  @include big-title;
  text-transform: uppercase;
  text-align: center;
}

.keywords {
  @include grid-column(12);
  
  @media (min-width: 400px) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  @media #{$medium-up} {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}