.post-type-archive-vestoj_news {
  .page-title {
    @include huge-title;
    text-align: center;
    @include uppercase;
    margin-bottom: baseline(2);
  }
}

.hentry-full.vestoj_news {
  margin-bottom: baseline(2);
  
  .pubdate {
    margin-bottom: baseline(0.5);
  }

  .entry-title {
    font-size: $big-ts;
    line-height: baseline(1.5);
  }
}