.hentry-full {
  header {
    text-align: center;
  }
  .entry-category {
    @include medium-title;
    @include uppercase;
    margin-bottom: baseline(0.5);
  }
  .entry-title {
    @include huge-title;
    @include uppercase;
  }
  .entry-sub-title {
    @include medium-title;
    font-style: italic;
    margin-bottom: baseline(1);
    padding: 0 2em;
  }
  .entry-date {
    display: none;
  }
  .entry-meta {
    @include medium-title;
    margin-bottom: baseline(0.5);
  }
  .byline + .entry-image-contributor {
    margin-top: - baseline();
  }
  .entry-tags {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: baseline(0.5) 0;
    margin: baseline() 0;

    .tag-title {
      font-style: italic;
    }
    a {
      font-variant: small-caps;
      display: inline-block;
    }
  }
}

.entry-content {
  .footnote_plugin_tooltip_text {
    vertical-align: super !important;
    position: static !important;
  }

  figure {
    text-align: center;
    @media #{$medium-up} {
      margin-left: -100px;
      margin-right: -100px;
    }
  }

  select {
    width: auto;
  }

  h3 {
    @include medium-title;
    @include uppercase;
    text-align: center;
  }

  h4 {
    font-size: $small-ts;
    @include uppercase;
  }
}


.gallery {

}

.gallery-caption {
  text-align: center;
  font-style: italic;
  margin-top: baseline();
}

.embed-container,
.fve-video-wrapper {
  @media #{$medium-up} {
    max-width: calc(100% + 200px) !important;
    padding-bottom: calc(56.25% + 112px) !important;
    margin-left: -100px !important;
    margin-right: -100px !important;
  }
}

.footnotes {
  li, p {
    @include footnote;
  }
  li {
    max-width: 38em;
    &:target {
      outline: none;
    }
  }
}

.entry-footer {
  @include line-separator;
  > * {
    margin-top: baseline();
  }
}

.footer-title {
  font-style: italic;
  text-align: center;
  margin-bottom: baseline();
}

.author-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $small-ts;
  text-rendering: auto;
  
  &:before {
    content: ">";
  }
}


