@font-face{
    font-family:"Adobe Caslon W01_n4";
    src:url("./ef429e53-4846-40b9-a3fe-4295cefc7e94.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Adobe Caslon W01";
    src:url("./ef429e53-4846-40b9-a3fe-4295cefc7e94.eot?#iefix");
    src:url("./ef429e53-4846-40b9-a3fe-4295cefc7e94.eot?#iefix") format("eot"),url("./3531483a-a370-4cac-bcd3-9cbd5c0aa8fe.woff2") format("woff2"),url("./29fc7b6f-c777-4db4-99c7-98a753629a74.woff") format("woff"),url("./492aae7f-5ec2-484f-8c4a-5dceb929def5.ttf") format("truetype"),url("./27231d8a-1ac1-4ede-8e91-c7bb60852443.svg#27231d8a-1ac1-4ede-8e91-c7bb60852443") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family:"Adobe Caslon W01_i4";
    src:url("./48e53584-22ac-4328-a940-54ac91ee35db.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Adobe Caslon W01";
    src:url("./48e53584-22ac-4328-a940-54ac91ee35db.eot?#iefix");
    src:url("./48e53584-22ac-4328-a940-54ac91ee35db.eot?#iefix") format("eot"),url("./df7ba2f1-324a-404c-88c7-f68adad9ac33.woff2") format("woff2"),url("./67620760-8bd8-45d7-b70d-de7936d7a6e1.woff") format("woff"),url("./d39c7172-0364-4db6-80c5-116c450e3e98.ttf") format("truetype"),url("./c1570ebd-fc91-4d70-b33b-8f19e9a0fabf.svg#c1570ebd-fc91-4d70-b33b-8f19e9a0fabf") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
    font-family:"Adobe Caslon W01_n7";
    src:url("./9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Adobe Caslon W01";
    src:url("./9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix");
    src:url("./9a3ba5ec-ca51-4d63-8138-252fa1dd356c.eot?#iefix") format("eot"),url("./9a55e467-ac64-46db-8231-6e27a3ca005d.woff2") format("woff2"),url("./fee04c62-acaf-4b3a-904b-76ced4495f28.woff") format("woff"),url("./1869eb01-816d-4fb8-9481-847bb0b2196e.ttf") format("truetype"),url("./8e2e2a46-fc05-419b-9b71-2b5a028e913b.svg#8e2e2a46-fc05-419b-9b71-2b5a028e913b") format("svg");
font-weight: 700;
font-style: normal;
}
