// Common to featured and small excerpts
.hentry-excerpt {
  .tb {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    width: 100%;
  }

  .entry-category {
    margin-bottom: baseline(0.5);
  }

  .entry-header {
    text-align: center;
  }

  .entry-date {
    display: none;
  }
}



// Small excerpts
.excerpt-small {

  .tb {
    height: baseline(8);
  }

  .entry-category {
    margin-top: baseline(0.5);
  }

  .entry-title {
    @include small-title;
    @include uppercase;
    margin-bottom: baseline(0.5);
  }

  .entry-sub-title {
    display: none;
  }

  .entry-meta {
    margin-bottom: baseline();
  }

}

.read-more {
  @include uppercase;
  font-style: italic;
  display: block;
  font-size: 0.9em;
  
  p + & {
    margin-top: - baseline();
  }
}