#masthead {
  text-align: center;
}

.site-title {
  font-size: rem-calc(54);
  line-height: baseline(2);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: baseline(0.5) 0 0;
  @media #{$medium-up} {
    margin-top: baseline(2);
  }
  
  .text {
    display: none;
  }

  .icon {
    height: 52px;
    fill: $blue;
  }
}

.site-tag-line {
  // font-style: italic
  // font-variant: small-caps;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-rendering: auto;
  font-size: .75rem;
  #masthead & {
    color: $blue;
    margin-top: -5px;
  }
}

.search-toggle {
  display: none;
}

.menu-toggle, .skip-link {
  display: none;
}

.nav-menu {
  margin: 0 0 baseline();
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border-top: 1px solid;
  border-bottom: 1px solid;
}

.site-navigation .menu-item {
  font-size: $small-ts;

  display: inline-block;
  padding: 0 baseline(0.25);

  @media #{$medium-up} {
    padding-top: baseline(0.5);
    padding-bottom: baseline(0.5);
    
    &:after {
      content: "|";
      margin-left: 1em;
    }

    &:last-child:after {
      content: "";
      margin-left: 0;
    }
  }
}