#page {
  padding: 0.5em;
  @media #{$medium-up} {
    padding: 0;
  }
}

.site-header {
  @include grid-row();
}

// make nav lines whole width

@media #{$medium-up} {
  .menu-top-menu-container {
    height: baseline(3);
  }
  .nav-menu {
    width: 100%;
    left: 0;
    position: absolute;
  }
}


.site-main {
  @include grid-row();
}


// BACK ISSUEs
.back-issues {
  @include grid-column(12, $collapse: true);
  margin-top: baseline();

  @include line-separator;

  .section-title {
    padding-top: baseline();
  }
}


// Footer
.site-footer {
  @include grid-row();
  margin-top: baseline();
  margin-bottom: baseline();

  @include line-separator;

  > * {
    padding-top: baseline();
  }
}

.footer-header {
  padding-top: baseline();
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.menu-bottom-menu-container {
  padding-top: 0;
  @media #{$medium-up} {
    padding-top: baseline();
  }

  ul.bottom-menu {
    margin: 0;
    list-style-type: none;
  } 

  li.menu-item {
    text-transform: uppercase;
    font-size: $small-ts;
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(2);
      text-align: left;
    }
  }
}


// Excerpts in archive grids
.hentry-excerpt {
  @media #{$medium-up} {
    @include grid-column(4);
    &:nth-of-type(3n + 1) {
      clear: left;
    }
  }
}

.home {
  .hentry-excerpt:nth-child(3n + 1) {
    clear: none;
  }
  .hentry-excerpt:nth-child(3n + 2) {
    clear: left;
  }
} 

// Excerpts in small grids (Related posts)
.small-post-grid .hentry-excerpt {
  @media #{$medium-up} {
    @include grid-column(6);
    clear: none;
    &:nth-child(2n + 1) {
      clear: left;
    }
  }
}

// Issue excerpts
.excerpt-issue {
  @include grid-column(2.4);
  margin-bottom: baseline();
  &:nth-child(5n + 1) {
    clear: left;
  }
}


// Single Post, Pages, Issues, News archive
.singular, 
.post-type-archive-vestoj_news {
  .content-area {
    @media #{$medium-up} {
      @include grid-column(7, $offset: 2.5);
    }
    @media #{$large-up} {
      @include grid-column(6, $offset: 3);
    }
  }
}

// Contributors and Keywords Pages
.page-template-page-templatescontributors-php,
.page-template-page-templatespage-keywords-php {
  .content-area {
    @include grid-column(12, $collapse: true);
    margin-left: 0 !important;
  }
}


.entry-footer {
  @include grid-column(12);
}

.author-bio {
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.related {
  @media #{$medium-up} {
    @include grid-column(8);
  }
}

.paging-navigation {
  @include grid-column(12);
}


