

@mixin huge-title() {
  font-size: $big-ts;
  line-height: baseline(2);
  @media #{$medium-up} {
    font-size: $huge-ts;
  }
}

@mixin big-title() {
  font-size: $big-ts;
  line-height: baseline(2);
}

@mixin medium-title() {
  font-size: $normal-ts;
  line-height: baseline();
  letter-spacing: 0.05em;
}

@mixin small-title() {
  font-size: $normal-ts;
  line-height: baseline();
}

@mixin uppercase() {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin footnote() {
  font-size: $small-ts;
  line-height: baseline(0.75);
}

@mixin intro() {
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

.section-title {
  @include small-title;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: baseline();
}

.quote {}

.cite {} 

.intro-text {
  @include intro;
}

.question {
  font-weight: bold;
  margin-bottom: 0;
}

.screen-reader-text {
  @extend .hide;
}